<section>
    <form action="" id="form" class="form">
        <label for="name">Nombre</label>
        <input type="text" name="" id="name" required>

        <label for="apellido">Apellido</label>
        <input type="text" name="" id="apellido" required>

        <label for="departamento">Departamento</label>
        <input type="text" name="" id="departamento" required>

        <label for="edad">Edad</label>
        <input type="number" name="" id="edad">

        <label for="salario">Salario</label>
        <input type="number" name="" id="salario">

        <label for="fecha_ingreso">Fecha de ingreso</label>
        <input type="date" name="" id="fecha_ingreso" required>

        <label for="password">Contraseña</label>
        <input type="password" name="" id="password" required>

        <label for="rol">Rol</label>
        <select name="" id="rol" required>
            <option value="">Seleccionar rol</option>
            <option value="employee_user">Usuario</option>
            <option value="employee_admin">Administrador</option>
        </select>

        <input type="submit" value="Registrar" class="btn">
    </form>
</section>