<section>
    <form action="" id="form_update" class="updateProduct">
        <label for="">Nuevo Nombre</label>
        <input type="text" name="" id="newProduct" required>

        <label for="">Nuevo Precio</label>
        <input type="text" name="" id="newPrice" required>

        <label for="">Nueva Cantidad</label>
        <input type="text" name="" id="newAmount" required>

        <label for="">Es activo</label>
        <input type="checkbox" name="" id="newIsActive">

        <input type="submit" value="Actualizar">
    </form>
</section>
